<div class="container">
  <div *ngIf="loader" class="loader"></div>
  <div *ngIf="!loader">
    <div
      *ngFor="let quote of service.quote"
    >
      <h2><i>"{{ quote.text }}"</i></h2>
      <h3>({{ quote.author }})</h3>

      <button [routerLink]="['/edit']" (click)="service.addId(quote.id)" class="edit">edit</button>
      <button [routerLink]="['/category']" (click)="service.deleteQuote(quote.id)" class="delete">delete</button>
      <br>

      <hr>
    </div>
  </div>
</div>

