.edit{
  background: darkslateblue;
  color: white;
  margin-right: 10px;
}

.delete{
  background: red;
  color: white;
}

.loader {
  margin: 10px auto;
  border: 5px solid darkgray;
  border-top: 5px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
