<form (ngSubmit)="sendMessage()" class="formSend">
  <label for="select">выберите категорию:</label>
  <select name="select" id="select" [(ngModel)]="select">
    <option value="ancient quotes">ancient quotes</option>
    <option value="quotes modern">quotes modern</option>
    <option value="now quotes">now quotes</option>
  </select>
  <label for="author">имя автора:</label>
  <input type="text" id="author" [(ngModel)]="author" name="author">
  <br>
  <label for="image">url для изображения:</label>
  <input type="text" id="image" [(ngModel)]="image" name="image">
  <br>
  <label for="text">цитата:</label>
  <textarea id="text" cols="15" rows="3" [(ngModel)]="text" name="text"></textarea>
  <br>
  <button type="submit" >создать</button>
</form>
