<div class="container">
  <div *ngIf="loader" class="loader"></div>
  <div *ngIf="!loader">
    <select
      [(ngModel)]="select"
    class="select"
    >
      <option value="quotes modern">quotes modern</option>
      <option value="ancient quotes">ancient quotes</option>
      <option value="now quotes">now quotes</option>
    </select>
    <br>
    <button class="selectBtn" (click)="getCategory()">category</button>

    <div
      *ngFor="let quote of service.quote;"
    >
      <h1>{{ quote.author }}</h1>
      <img [src]="quote.image" alt="author" width="300px">
      <h2><i>"{{ quote.text }}"</i></h2>
      <br>
      <button [routerLink]="['/edit']" (click)="addIdQuote(quote.id)" class="edit">edit</button>
      <button [routerLink]="['/quote']" (click)="service.deleteQuote(quote.id)" class="delete">delete</button>

      <hr>

    </div>
  </div>
</div>


