.loader {
  margin: 10px auto;
  border: 5px solid darkgray;
  border-top: 5px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.edit{
  background: darkslateblue;
  color: white;
  margin-right: 10px;
}

.delete{
  background: red;
  color: white;
}

.select{
  padding: 20px;
  font-size: 30px;
  color: darkslateblue;
  box-shadow: 0 0 10px black;
}

option{
  width: 30%;
}

.selectBtn{
  text-transform: uppercase;
  box-shadow: 0 0 10px black;
  color: darkslateblue;
  height: 62px;
  width: 263px;
}

.container{
  text-align: center;
}
