
  <form (ngSubmit)="renameQuote(services.quoteIdOne.id)" class="formSend">
    <label for="author">имя автора:</label>
    <input type="text" id="author" [(ngModel)]="author" name="author">
    <br>
    <select
      [(ngModel)]="select"
      class="select"
    >

      <option value="quotes modern">quotes modern</option>
      <option value="ancient quotes">ancient quotes</option>
      <option value="now quotes">now quotes</option>
    </select>


    <label for="image">url для изображения:</label>
    <input type="text" id="image" [(ngModel)]="image" name="image">
    <br>
    <label for="text">цитата:</label>
    <textarea id="text" cols="15" rows="3" [(ngModel)]="text" name="text"></textarea>
    <br>
    <button type="submit">редактировать</button>
  </form>



