header{
  display: flex;
  align-items: center;
}

.link{
  text-decoration: none;
  color: darkslateblue;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.linkin{
  text-decoration: none;
  color: darkslateblue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.active{
  color: red;
}

article{
  width: 30%;
  display: inline-block;
  margin-right: 150px;
}

main{
  width: 50%;
  margin-left: 20px;
}

.container{
  padding-top: 20px;
  width: 100%;
  display: flex;
}

.quote{
  margin-top: 60px;
  box-shadow: 0 0 10px black;
  padding: 15px;
  cursor: pointer;
}
