<header>
  <h1>quotes central</h1>
  <a routerLink="/" routerLinkActive="active" class="link"
     [routerLinkActiveOptions]="{exact: true}">home</a>
  <a routerLink="/quote" routerLinkActive="active" class="link"
     [routerLinkActiveOptions]="{exact: true}">quotes</a>
  <a routerLink="/new" routerLinkActive="active" class="link"
     [routerLinkActiveOptions]="{exact: true}">submit new quotes</a>
</header>

<div class="container">
  <article>
    <a
      (click)="this.service.allQuote()"
      class="linkin"
      [routerLink]="['all']"
    >
      all</a>
    <a

      class="linkin"
      [routerLink]="['/category/']"
      (click)="service.getCategoryQuote('ancient quotes')"
    >
      ancient quotes</a>
    <a

      [routerLink]="['/category']"
      (click)="service.getCategoryQuote('quotes modern')"
      class="linkin"
    >
      quotes modern</a>
    <a

      class="linkin"
      [routerLink]="['/category']"
      (click)="service.getCategoryQuote('now quotes')"
    >
      now quotes</a>

  </article>

  <main>
    <router-outlet></router-outlet>

  </main>
</div>


